@import 'react-big-calendar/lib/sass/styles.scss';

.weekend-color {
    background-color: #faa5;
}

.make-up-workday-color {
    background-color: #fbb3;
}

.holiday-color {
    background-color: #faa8;
}

.rbc-btn-group {
    display: flex;
}

.all-day-event {
    background: transparent;
    color: inherit;
    border: 0px;

    &:focus {
        outline: 0px;
    }
    &.rbc-selected {
        background: transparent;
    }
}
